<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1ISNMMkHRFddAX_9AC4CfiF0cA12__EE"></script>
    <script type="text/javascript" src="/javascripts/disruptions.js"></script>
  </head>
  <body onload="initialize()">
    <div id="map" style="width:100%; height:100%"></div>
  </body>
</html>
